<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Skprotect{% endblock %}
		</title>
		<link rel="stylesheet" href="css/bootstrap.min.css"> {% block stylesheets %}{% endblock %}
		<link rel="shortcut icon" type="image/x-icon" href="image/2974logo.ico">
  		<link href="css/fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/fontawesome.min.css" rel="stylesheet"> <!--load all styles -->
		 <link href="css/fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">

	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
				<a class="navbar-brand" href="{{ path('home') }}"><img src="image/logo.jpg" style="width: 50px; height: 50px;" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('home') }}">Skprotect</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('qui-sommes-nous') }}">Qui sommes nous?
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('prestations')}}">Prestations</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('contact')}}">Contact</a>
						</li>


					</ul>

				</div>
			</nav>
			</div>
			{% block body %}{% endblock %}
			<script src="js/jquery.min.js"></script>
			<script src="js/popper.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
